* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 10px;
    font-family: sans-serif;
    line-height: 1.6;
}

body {
    background: #78ACCD;
    color: #333333;
    font-size: 1.5rem;
}

ul {
    list-style: none;
}
.card {
    background: #ffffff;
    width: 90%;
    max-width: 40rem;
    min-height: 40rem;
    margin: 5rem auto;
    display: grid;
    grid-template-rows: 8rem auto 10rem;
    box-shadow: 0 1rem 2.5rem rgb(27, 64, 94);
}
.card__header{
    padding: 0 1.25rem;
    color: #7D8994;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__body {
    padding: 1.5rem 2rem;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}